*{
    box-sizing: border-box;
}
html{
    overflow-x:hidden;
    scroll-behavior: smooth;
}
h3{
    color: #1E4697;
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 24px;
}
h3, strong{
    color: #1E4697;
}
#hamburgerNav{
    display: none;
}
body{
    background-image: url('./images/network-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-weight: 400;
    color: black;
    height: auto;
    margin: 0;
}   
main{
    max-width: 1440px;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    flex-direction: column;
    display: flex;
    height: 100%;
}
/*SECTION SOBRE */
#sobre{
    flex-direction: column;
    display: flex;
    padding: 50px 100px 0 100px;
}
hr{
    margin-top: 0;
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    background-color: #1E4697;
    height: 1px;
    margin-bottom: 15px;
}
.introducao-curso-box{
    justify-content: center;
    align-items: center;
    height: auto;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;
}
.sobre-curso-img{
    margin-left: auto;
    align-items: flex-end;
    width: 50%;
    display: flex;
}
.sobre-curso-img img{
    margin-left: auto;
    max-width: 80%;
    height: auto;
    display: flex;
}
.introducao-curso-texto{
    height: 200px;
    display: flex;
    flex-direction: column;
    width: 50%;
}
.introducao-curso-texto h3{
    align-self: flex-end;
}
.curso-box{
    display: flex;
    flex-direction: row;
}
.img-smart-city{
    align-self: center;
    border-radius: 50%;
    margin-right: 150px;
    height: 300px;
    width: 300px;
    display: flex;
}
.curso-box-texto{
    width: 50%;
    display: flex;
    flex-direction: column;
}
/*SECTION INSCRICOES */
#inscricoes{
    padding: 50px 100px 0 100px;
}
#inscricoes > div{
    width: 50%;
}
#inscricoes > div:first-child{
    display: flex;
}
#inscricoes a{
    padding: 10px;
    text-align: center;
    display: block;
    background-color: #1E4697;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    width: 300px;
    height: 50px;
}
#inscricoes p{
    color: black;
}
.v1{
    border-left:2px solid black; 
    width: 10px;
    height: 200px;
    display: flex;
}
#inscricoes > div:last-child{
    display: flex;
}
/*SECTION INVESTIMENTO */
#investimento{
    padding: 50px 100px 0 100px;
}
#investimento > div {
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    margin-top: 30px;
}
.investimento-card{
    width: 30%;
    margin-left: 20px;
    flex-direction: column;
    display: flex;
}
.investimento-card-content{
    padding: 15px;
    align-items: center;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    display: flex;
    font-weight: 700;
    color: black;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #C0D2F7;
    height: 350px;
    width: 100%;
}
.investimento-card-content p{
    margin: 5px;
}
.valor-investimento{
    font-size: 32px;
}
.investimento-card-title{
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    height: 80px;
    background-color: #1E4697;
}

/*SECTION CALENDARIO */
#calendario{
    text-justify: inter-word;
    padding: 50px 100px 0 100px;
}
#calendario > div{
    display: flex;
    flex-direction: column;
}
.calendario-content{
    align-self: center;
    margin-bottom: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 600px;
    flex-direction: column;
    display: flex;
}
#calendario button{
    align-self: center;
    align-items: center;
    width: 600px;
    font-weight: 500;
    padding: 10px;
    height: auto;
    flex-direction: column;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-style: solid;
    border-width: 1px;
    background-color: #1E4697;
    color: white;
    display: flex;
}
#calendario svg{
    margin-bottom: 10px;
    align-self: center;
}
.collapsible strong{
    margin-bottom: 5px;
    padding-top: 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-color: white;
}
.calendario-content{
    background-color: #7FA4F1;
}
.calendario-content table{
    display: flex;
    justify-content: space-evenly;
}
.calendario-content tr td:first-of-type{
    padding-left: 15px;
}
.calendario-content tr td:nth-child(2){
    text-align: center;
}
.calendario-content tr td:last-child{
    text-align: center;
}
.calendario-content td{
    height: 50px;
    background-color: #C0D2F7;
}
.calendario-content th{
    height: 50px;
    background-color: #1E4697;
    color:white;
    border-radius: 5px;
}
/*SECTION DISCIPLINAS */
#disciplinas{
    padding: 50px 100px 0 100px;
}
.collapsible {
    color: #1E4697;
    text-align: center;
    background: none;
    width: 200px;
    height: 40px;
    cursor: pointer;
    border: none;
    text-align: center;
    outline: none;
    font-size: 15px;
  }
  .active, .collapsible:hover {
    border-width: 1px;
    border-color:black;
    border-style: solid;
  }
  .content {
    margin-bottom: 20px;
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.content ul{
    margin-bottom: 30px;
}
.disciplinas-lista{
    list-style-type: square;
}
.disciplinas-lista ul li:first-of-type{
    list-style-type: disc;
}
.disciplinas-lista ul li:last-of-type{
    list-style-type: none;
}
.disciplinas-lista 
/* SECTION DOCENTES */
#docentes{
    padding: 50px 100px 0px 100px;
}
/*hero*/
#navbar{
    justify-content: center;
    top: 0;
    background-color: #1E4697;
    z-index: 9999;
    display: flex;
    flex-direction: row;
    height: 75px;
}
nav{
    margin-top: 5px;
    margin-left: 10%;
    display: flex;
    width: 100%;    
    height: 100px;
}
nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav ul li{
    float: left;
}
nav ul li a{
    margin-left: 10px;
    font-size: 14px;
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover{
    background-color: #2C57AC;
}
#navbar div:first-of-type{
    display: flex;
    padding: 10px;
    width: 100%;
    max-width: 1440px;
    margin: 0;
}
#navbar div:first-of-type > div{
    display: flex;
    width: auto;
    height: 100%;
    padding: 0;
    margin: 0;
}
header div:first-of-type div > a{
    font-weight: 700;
    text-decoration: none;
    color: white;
    margin-left: 10px;
    margin-top: 0;
    font-size: 14px;
}
header img{
    height: 50px;
    width: 50px;
}
header{
    margin: 0 auto;
    font-family: 'Oxygen', sans-serif;
    background-color: #7FA4F1;
    justify-content: flex-start;
    flex-direction: column;
    display: flex;
    height: 650px;
}
.sticky{
    position: fixed;
    top: 0%;
    width: 100%;
}
.carrossel{
    position: absolute;
    margin-left: 50px;
    justify-content: flex-start;
    flex-direction: row;
    align-self: center;
    display: flex;
    max-width: 1440px;
    width: 80%;
    height: 650px;
}
.disciplinas-lista a{
    margin-left: 3px;
    color: black;
    text-decoration: underline dotted solid;
}
.disciplinas-lista button{
    font-weight: 700;
}
.disciplinas-lista a:hover{
    text-decoration: none;
}
.carrossel img{
    align-self: center;
    width: 50%;
    height: auto;
    display: flex;
}
.carrossel img:last-child{
    margin-left: 30px;
    max-width: 40%;
}
/*SECTION DOCENTES */
#docentes{
    padding: 50px 100px 0 100px;
}
#docentes > div:first-of-type{
    flex-wrap: wrap;
    margin-bottom: 30px;
    display: flex;
    flex-direction: row;
}
.docentes-card p{
    margin: 0;
}
.docentes-card strong{
    margin: 0;
}
.docentes-card a > img{
    margin-top: 5px;
    width: 25px;
}
.docentes-card{
    margin-bottom: 30px;
    width: 33%;
    align-content: space-between;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
}
.docentes-card div:first-of-type{
    justify-content: center;
    align-content: center;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    width: 100px;
    height: 100px;
    align-items: center;
}
.docentes-card:nth-child(1) div:first-of-type img{
    object-position: 50% 12px;
}
.docentes-card:nth-child(6) div:first-of-type img{
    height: 100% !important;
}
.docentes-card:nth-child(7) div:first-of-type img{
    object-position: 50% 15px;
}
.docentes-card:nth-child(9) div:first-of-type img{
    object-position: 50% 30px;
}
.docentes-card:nth-child(8) div:first-of-type img{
    height: 100% !important;
}
.docentes-card:nth-child(11) div:first-of-type img{
    object-position: 50% 10px;

}
.docentes-card:nth-child(14) div:first-of-type img{
    object-position: 50% 20px;
}
.docentes-card:nth-child(16) div:first-of-type img{
    object-position: 50% 10px;
}
.docentes-card:nth-child(18) div:first-of-type img{
    height: 100% !important;
}
.docentes-card div:first-of-type img{
    display: flex;
    max-width: 100%;
    height: auto;
}
.docentes-card div:last-of-type{
    width: 200px;
    margin-top: 30px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}
.docentes-card a{
    width: 25px;
}
/*SECTION CONTATOS */
#contato{
    padding: 50px 100px 0 100px;
}
#contato p{
    margin-top: 50px;
    align-self: center;
}
#contato > div{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.contato-image{
    width: 50%;
    display: flex;
}
.contato-image a{
    height: 400px;
    width: 400px;
}
.contato-image img{
    max-width: 100%;
    height: auto;
}
.contato-box{
    flex-direction: column;
    justify-content: center;
    display: flex;
}
.contato-box h4{
    color: #1E4697;
    margin: 0;
    align-self: center;
}
.contato-box form{
    align-self: center;
    border-radius: 5px;
    padding: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contato-box div{
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;
}
.contato-box div input{
    border-style: solid;
    border-color: white;
    background-color: #1E4697;
    color: white;
    width: 30%;
}
.contato-box input, textarea{
    border-style: groove;
    margin-bottom: 30px;
}
.contato-box textarea{
    resize: none;
    height: 100px;
    border-radius: 5px;
}
.contato-box input{
    border-radius: 5px;
    width: 100%;
    height: 50px;
}
.redes-sociais{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.redes-sociais h4{
    color: #1E4697;
}
.redes-sociais-links{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: space-between;
}
.redes-sociais-links a{
    border-style: solid;
    border-radius: 5px;
    padding: 25px 0 0 0;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    color: white;
    text-align: center;
    width: 80px;
    height: 80px;
}
.redes-sociais-links a:nth-child(1){
   background-color: #1E4697; 
}
.redes-sociais-links a:nth-child(2){
    background-color: #2C57AC;
}
.redes-sociais-links a:nth-child(3){
    background-color: #7FA4F1;
}
/*SCROLL BACK BUTTON */
#myBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #1E4697;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
  #myBtn:hover {
    background-color: #2C57AC; 
}
/*RESPONSIVIDADE */
@media screen and (max-width: 992px){
    
}
@media screen and (max-width:600px){
    header{
        height: 600px;
    }
    body{
        font-size: 16px;
        overflow-x: hidden;
    }
    #navbar{
        display: none;
    }
    #hamburgerNav{
        height: auto;
        display: flex;
        justify-content: space-between;
    }
    #hamburgerNav div:first-of-type{
        font-size: 10px;
        color: white;
        display: flex;
        width: auto;
        margin: 3px 0 0 0;
        padding: 0;
    }
    #hamburgerNav div:first-of-type{
        height: auto;
    }
    #hamburgerNav div:first-of-type img{
        max-width: 30%;
        margin-top: 5px;
        padding: 5px;
        height: 80%;
    }
    .topnav {
        position: relative;
    }
    #hamburgerLinks a{
        font-size: 70%;
    }
    #hamburgerLinks {
        display: none;
        border-top-right-radius: 15px;
        z-index: 9999;
        background-color: #C0D2F7;
        position: absolute;
        left: 70%;
        margin-top: 45px;
        height: auto;
    }
    .topnav a {
        color: white;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 24px;
        display: block;
    }
    .icon {
        display: flex;
    }
    .topnav a:hover {
        background-color: #ddd;
    }
    .active {
        background: none;
    }
    .carrossel{
        height: 600px;
        margin: 0;
        width: 100%;
        justify-content: space-evenly;
        flex-direction: column-reverse;
    }
    .carrossel img:first-of-type{
        margin: 0;
        align-self: center;
        width: 80%;
        max-width: 100%;
        height: auto;
    }
    .carrossel img:last-of-type{
        margin: 0;
        align-self: center;
        width: 80%;
        max-width: 100%;
    }
    /*SEÇÃO SOBRE */
    #sobre{
        display: flex;
        padding: 0;
    }
    .introducao-curso-box{
        align-self: center;
        width: 80%;
        flex-direction: column;
        justify-content: center;
        display: flex;
        margin: 30px 0 30px 0;
    }
    .img-smart-city{
        align-self: center;
        width: 100%;
        margin: 0;
    }
    .img-smart-city img{
        max-width: 100%;
        height: auto;
    }
    .introducao-curso-texto{
        align-self: center;
        width: 100%;
        margin: 30px 0 0 0;
    }
    .curso-box{
        align-self: center;
        width: 80%;
        flex-direction: column-reverse;
    }
    .curso-box-texto{
        width: 100%;
    }
    .curso-box-texto h3{
        text-align: left;
    }
    .sobre-curso-img{
        margin: 50px 0 50px 0;
        align-self: center;
        width: 100%;
    }
    .sobre-curso-img img{
        display: flex;
        max-width: 100%;
        height: auto;
    }
    /*seção inscricoes */
    #inscricoes{
        margin-top: 30px;
        margin-bottom: 30px;
        flex-direction: column;
        display: flex;
        padding: 0;
    }
    #inscricoes h3{
        text-align: center;
    }
    #inscricoes > div{
        align-self: center;
        margin: 0;
        width: 80%;
    }
    #inscricoes div:first-of-type div{
        width: auto;
    }
    #inscricoes a{
        width: auto;
        height: 40px;
        padding: 8px;
    }
    /*seção investimento */
    #investimento{
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        padding: 0;
    }
    #investimento h3{
        text-align: center;
    }
    #investimento > div{
        align-self: center;
        padding: 0;
        margin: 0;
        width: 80%;
        flex-direction: column;
    }
    .investimento-card-title{
        height: 150px;
    }
    .investimento-card{
        padding: 12px;
        font-size: 18px;
        margin: 0 0 50px 0;
        width: 100%;
        height: 300px;
    }
    .investimento-card-content p {
        margin-bottom: 5px;
    }
    .investimento-card-content br{
        margin: 0;
    }
    .investimento-card-title{
        font-size: 20px;
    }
    .investimento-card:last-of-type{
        margin-bottom: 0;
    }
    /* seção calendario*/
    #calendario{
        flex-direction: column;
        display: flex;
        padding: 0;
        margin-bottom: 30px;
    }
    #calendario h3{
        margin-top: 50px;
        text-align: center;
    }
    .calendario-content{
        font-size: 14px;
        width: 100%;
    }
    #calendario > div button{
        padding: 5px;
        font-size: 14px;
        width: 100%;
    }
    #calendario > div{
        align-self: center;
        width: 80%;
    }
    /*seção disciplinas*/
    #disciplinas{
        flex-direction: column;
        display: flex;
        padding: 0;
    }
    #disciplinas svg{
        width: 10px;
        height: 10px;
    }
    #disciplinas h3{
        text-align: center ;
    }
    #disciplinas > div:first-of-type{
        align-self: center;
        margin-bottom: 20px;
        width: 80%;
    }
    #disciplinas > div:last-of-type{
        align-self: center;
        flex-direction: column;
        width: 80%;
    }
    .disciplinas-lista{
        padding: 0 0 0 10px;
        width: 100%;
        flex-direction: column;
        display: flex;
    }
    .disciplinas-lista{
        font-size: 14px;
    }
    .disciplinas-lista strong{
        font-size: 16px;
    }
    .disciplinas-lista button{
        font-weight: 700;
        font-size: 14px !important;
    }
    .disciplinas-lista ul{
        margin: 5px 0 0 0;
        padding: 0 0 0 15px;
        flex-direction: column;
        display: flex;
    }
    .disciplinas-lista .content{
        margin: 0;
    }
    .disciplinas-lista .content ul{
        margin-bottom: 15px;
    }
    #disciplinas button{
        text-align: left;
        font-size: 16px;
    }
    /*seção docentes */
    #docentes h3{
        text-align: center;
        margin-bottom: 50px;
    }
    #docentes{
        margin-top: 30px;
        flex-direction: column;
        align-items: center;
        display: flex;
        padding: 0;
    }
    #docentes > div{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        width: 80%;
    }
    .docentes-card{ 
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    #docentes div:first-of-type{
        flex-direction: column;
    }
    .docentes-card div:last-of-type{
        width: auto;
        margin: 0;
    }
    #docentes div:first-of-type{
        margin-bottom: 20px;
    }
    .docentes-card a > img{
        margin-top: 5px;
        width: 20px;
    }
    /*seção contato */
    #contato{
        flex-direction: column;
        padding: 0;
        display: flex;
    }
    #contato h3{
        text-align: center;
        margin-bottom: 0;
    }
    #contato > div{
        width: 80%;
        align-self: center;
        flex-direction: column;
    }
    .contato-image{
        width: 100%;
        align-self: center;
    }
    .contato-image a{
        margin: 0;
        width: 100%;
        height: auto;
    }
    .contato-image img{
        max-width: 100%;
        height: auto;
    }
    .redes-sociais{
        align-content: center;
        align-self: center;
        width: 100%;
    }
    .redes-sociais h4{
        text-align: center;
    }
    .redes-sociais-links{
        justify-content: space-evenly;
        width: 100%;
    }
    .redes-sociais-links a{
        padding: 12px 0 0 0;
        font-size: 18px;
        width: 50px;
        height: 50px;
    }
    .contato-box{
        align-self: center;
        width: 100%;
    }
    .contato-box h3{
        text-align: center;
    }
    .contato-box form{
        width: 100%;
        align-self: center;
    }
}

